<div class="p-12 mx-auto text-center md:max-w-6xl md:text-left">
    <h1 class="font-serif text-5xl text-center">{{ title }}</h1>
    <div class="my-5 text-3xl text-center">{{ content }}</div>
    <div class="flex-wrap md:flex">
        {{ collection:books }}
        <div class="block px-6 my-10 md:w-1/3 lg:px-10">
            <img
                src="{{ image }}"
                alt="{{ image:alt }}"
                class="object-contain max-w-full px-10 sm:mx-auto sm:px-24 md:px-0 md:mx-0 md:mb-5"
            />
            <div class="mt-5 md:mt-0">
                <h2 class="font-serif text-2xl font-bold">{{ title }}</h2>
                <p class="mt-5">{{ content | trim | safe_truncate:200:... }}</p>
                <a href="{{ url }}">
                    <div
                        class="inline-block px-5 py-3 mx-2 my-10 text-base uppercase rounded-md bg-fuchsia-600 hover:bg-fuchsia-700"
                    >
                        Learn More
                    </div>
                </a>
            </div>
        </div>
        {{ /collection:books }}
    </div>
</div>
