<div class="relative justify-between p-12 mx-auto md:max-w-6xl md:flex md:p-24">
    <img
        src="{{ author:image }}"
        alt="{{ author:image:alt }}"
        class="mx-auto w-72 md:w-96 lg:w-128 md:mr-10 md:absolute md:-left-44 lg:-left-250 top-10"
    />
    <div class="mt-16 md:ml-60">
        <h1 class="mb-10 font-serif text-6xl lg:text-8xl">
            {{ title }} {{ author:name }}
        </h1>
        <p
            class="w-full text-lg leading-relaxed first-letter:text-9xl first-letter:font-bold first-letter:text-fuchsia-700 first-letter:mr-3 first-letter:-mt-3 first-letter:float-left md:w-4/5"
        ></p>
        <div>{{ content }}</div>
    </div>
</div>
